@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
  --primary: #fb2943;
  --secondary: #ff3d8e;
  --tertiary: #54d669;
  --bg:#ffffff;
  --text: #000000;
  --card-color: #f8142f;
  
  --font: 'Poppins', sans-serif;
}
/*------------------------Elements-----------------------*/
html, body {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  
  color: var(--text);
  background: rgb(255, 255, 255);
  font-family: var(--font);
  letter-spacing: 1px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

h1 {
  padding-top: 0.5rem;
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text);
}

/*----------------------NavBar-------------------------*/
.navbar {
  background-color: var(--bg);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.60);
 
 }
 
.navbar-nav {
  flex: 1;
  justify-content: center;
  align-items: center;
 }
 
.navbar-nav > .nav-item {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem;
 
 }
 
.navbar-nav > .nav-item .nav-link {
  color: var(--text);
  transition: color 0.2s;
 }
 
.navbar-nav > .nav-item .nav-link:hover, 
.navbar-nav > .nav-item .nav-link:focus {
  color: var(--primary);
 }

.navbar-toggler{
  margin-left: 1rem;
  border: none;
 }

 /*-----------------------Home----------------------*/
.home {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 5rem;
}

.title{
  display: grid;
  grid-template-columns: 20rem 1fr;

  top: 10rem;
}
  
.title > h1 {
  padding-bottom: 0.7rem;
  font-weight: 100;
}

.image-perfil {
  position: relative;
}

#oval {
  position: absolute;
  
  height:20rem;
  width: 15rem;

  background-color: var(--primary);
  border-radius: 80% 30% 80% 30%;
  
  transform: rotate(30deg);
}

#perfil {
  position: relative;

  height:20rem;
  width: 15rem;

  border-radius: 30% 80% 30% 80%;
}

#qualif {
  font-size: 1.5rem;
  font-weight: 300;
  color:var(--primary);
}

#desc{
  margin: 2rem 0.3rem 2rem 0;

  font-size:1.2rem;
  font-weight: 400;
}

.icon {
  margin: 0.5rem;

  font-size: 2rem;
  color: var(--primary);

  transition: color 0.3s;
}

.icon:hover {
  color: var(--secondary);
  
}

/*------------------Common_Classes--------------------------------*/
.titles {
  display: block;
  
  margin: 1rem 3rem;
  padding-bottom: 1rem;
  
  border: 2px solid var(--primary);
  font-size: 3.5rem;
}

/*---------------------Skills--------------------------------*/
.skills {
  padding-top: 6rem;
}

.exp-horses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.exp-icon {
  width: 3rem;
  height: 3rem;

}

.skills-label {
  padding: 1rem;
}

.skill {
  display: inline-block;
  position: relative;

  padding: 0.3rem 2rem;
  margin: 0.3rem;  

  font-size: 1.2rem;
  opacity: .8;
}

.skill-with-horse {
  display: flex;
  justify-content: space-between;
}

.exp-icon-accordion {
  width: 1.5rem;
  height: 1.5rem;

}

/*-------------Skill_Accordion--------------------*/
.accordion{
  display: grid;
  grid-template-columns: 32.5rem 32.5rem;

  justify-content: center;
  margin: 1rem;
}

.accordion-button {
  font-size: 1.3rem;
}

.accordion-button, .accordion-button.collapsed:focus{
  color: black;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button:active, .accordion-button:focus, .accordion-button:not(.collapsed){  
  color: var(--primary);
  background-color:  white;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff1f1f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.fa-file-code-o, .uil{
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color:var(--primary);
}

.uil {
  font-size: 1.7rem;
}

/*-----------------------------Formation---------------------------*/
.ex-timeline {
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.job-timeline{
  margin-top: 3rem;
}

.timeline {
  display: flex;
  position: relative; 
  
  left: 10%;
  margin: 0 auto;
  padding-top: 2%;

  list-style-type: none;
}

.timeline:before {
  position: absolute;  

  width: 5px;
  height: 100%;

  top: 0;
  left: 1rem;  

  background: var(--secondary);
  content: '';
}

.timeline-event {
  position: relative;
}

.timeline-event:hover .timeline-thumbnail {
  box-shadow: inset 40em 0 0 0 var(--tertiary);
}

.timeline-event .workplace{
  transition: all .3s;
}

.timeline-icon {
  color: var(--secondary);
  display: block;
  margin: 0.5rem 0.5rem 0.5rem -0.5rem;
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 1.5rem;
  transition: .3s ease;
}

.timeline-event:hover .timeline-icon{
  transform: scale(1.5);
  color: var(--tertiary);
}

.timeline-event-copy {
  left: 3.125rem;
  padding: 2rem 2rem 0;
  position: relative;
  top: -2rem;
  width: 100%;
}

.timeline-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  box-shadow: inset 0 0 0 0em var(--tertiary);
  background: none repeat scroll 0 0 var(--secondary);
  box-shadow: 0 0 0 0 var(--tertiary) inset;
  color: #ffffff;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.5s ease-in 0.1s;
}

.workplace {
  font-size: 1.5rem;
  max-width: 25rem;
}

.jobPos {
  font-size: 1.3rem;
  color: var(--primary);
}

.jobDesc {
  font-size: 1rem;
  width: 25rem;
  font-weight: 500;
}

/*---------------------Portfolio-------------------------------*/
.portfolio {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.subtitles{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.divider {
  background-color: var(--primary);
  width: 100%;
  height:4px;
  margin-bottom: 1rem;
}

.card{
  width: 16,25rem;
  height: auto;

  align-content: center;
  margin: 1rem;

  background-color: var(--primary);
  border-radius: 10px;
}
.projectTitle {
  margin-top: 0.5rem;
}

.projectTitle, .projectTitle-carousel {
  text-align: center; 
  font-size: 1.5rem;
  color: #fff;
}

.projects-webm {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.project-webm {

  height: 75%;
  width: 75%;
  margin-top: 0.5rem;
  border-radius: 15px;

}

.projectSource {
text-align: center; 
font-size: 1rem;
cursor: pointer;
color: #fff;
transition: color 0.2s;
}

.projectSource:hover {
  color: var(--tertiary);
}

.styleCode {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}

/*-----------Portfolio_Carousel--------------*/
.styleCodeCarousel{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--secondary);
}

.carousel{
  margin: 1rem;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 10px;
}

.carousel-inner{
  border-radius: 10px;
}

.carousel-caption{
  background-color: rgba(0, 0, 0);
  opacity: 0.3;
  transition: opacity 0.2s, background-color 0.2s;
}

.carousel-caption:hover{
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.carousel-control-prev, .carousel-control-next{
  transition: background-color 0.3s;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.siteSource {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.siteSource a{
  color: white;
  margin: 0 0.7rem;
  transition: color 0.5s;
}

.siteSource a:hover:not(.emptySite){
  color: var(--secondary);
}

.emptySite, .emptySite:hover {
  color:rgba(240, 240, 240, 0.5);
  cursor: default;
}

/*----------------------------Contacts----------------------------------*/
.contact {
  background-color: var(--primary);
  color: white;
  background-size: cover;
  height: 14rem;
  padding-top: 1.2rem;
}

.connect, .copyRight {
  margin: 1rem;
}

.contact-buttons {
  display: block;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}

.btn-linkedin, .btn-github, .btn-deviantart {
  color: white;
  background-color: var(--primary);
  border: 1px solid white;
  border-radius: 10px;

  transition: all 0.5s;
}

.btn-linkedin:hover, .btn-github:hover, .btn-deviantart:hover {
  color: var(--primary);
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: 10px;
  
}

/*------------------------------Media-----------------------------------------*/

@media (max-width:1024px) {
  .carousel-caption {
    background-color: rgb(0,0,0,.7);
    opacity: 1
  }
}

@media (min-width:1400px)   {

  .projectTitle, .projectTitle-carousel{
    font-size: 97%;
  }

  .styleCode{
    font-size: 95%;
  }

  .siteSource{
    font-size: 95%;
  }

}

@media (max-width:995px){

  .accordion{
    grid-template-columns: auto auto;
  }
}

@media (max-width: 800px){

/*---- Elements ----*/
  html, body {
    font-size: 95%;
  }

  ul {
    width: 80%;
  }

 /*---- Home ----*/  
  .title {
    padding-bottom: 0.6rem;
    width: 90%;
  }

/*---- Common_Classes ----*/
  .border {
    width: 25%;
    border-width: 2px;
  }

  .titles {
    width: 85%;
    padding-bottom: 1rem;
  } 

/*---- Skills ----*/
  .skills-label {
    font-size: 10vw;
    padding-bottom: 0.6rem;
  }

/*---- Formation ----*/
  .timeline {
    left: 0;
    padding-left: 0.6rem;
  }

  .timeline:before {
    background: none;
  }

  .timeline-thumbnail{
    font-size: 1rem;
    padding: 0.3rem ;
  }
  .workplace {
    font-size: 1rem;
    }
  .jobDesc{
    font-size: 1rem;
  }

/*---- Portfolio ----*/

  .projectTitle-carousel {
    font-size: 1rem;
  }
  .styleCode, .styleCodeCarousel{
    font-size: 95%;
  }

  .siteSource{
    font-size: 95%;
  }

/*---- Contacts ----*/
  .contact {
    top: 6.8rem;
    padding-bottom: 0.6rem;
  }
}

@media (max-width: 650px) {
  /*---- Home ----*/
  .home{
    padding: 0;
    padding-top: 1rem;
  }

  .title{
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    
  }

  .image-perfil {
    margin: auto;
  }

  #name {
    text-align: center;
  }

  #qualif {
    text-align: center;
    font-size: 1.7rem;
  }

  #desc {
    text-align: center;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {

/*---- Elements ----*/
  html, body {
    font-size: 93%;
  }


/*---- Commons ----*/
  .titles {
    margin: auto;
    
  }
/*---- Skills ----*/
  .skills {
    margin-top: auto;
    font-size: 80%;
  }

  .accordion{
    grid-template-columns: auto;
  }

/*---- Formation ----*/
  .timeline-icon{
    left:0;
  }

  .timeline-event-copy{
    left: 0.5rem;
  }
  
  .jobDesc{
    width: 80%
  }
  
/*----- Portfolio ----*/
  .subtitles {
    font-size: 1.7rem;
  }

  .styleCode, .styleCodeCarousel{
    display: none;
  }
/*---- Contact ----*/
  .connect, .copyRight {
    margin: 0.5rem;
  }
}

@media (max-width:380px){
  .titles {
    font-size: 3rem;
  }
}